<div class="w-full grid grid-cols-1 md:grid-cols-2">
    <section class="h-[300px] xl:h-[400px] w-full border-24 border-[#29B3D2]">
        <img src="building.jpg" class="h-full w-full object-cover"/>
    </section>

    <section class="px-4 py-8 flex flex-col gap-4 justify-center items-center h-full">
        <div class="h-5/6 flex flex-col justify-center items-center">
            <p class="text-[33px] xl:text-[50px] artisanne-slogan text-center">
                Your <span class="artisanne-slogan-highlight">beauty & wellness</span>, our work of <span class="artisanne-slogan-highlight">art & passion</span>
            </p>
            <h3 class="est-style text-[14px] xl:text-[20px]">est. 2020</h3>
        </div>
        
        <div class="h-1/6 flex items-end">
            <a href="https://maps.app.goo.gl/MroZM2b481twr9yy9" class="flex items-center gap-1">
                <span nz-icon nzType="environment" nzTheme="outline"></span>
                <p class="leading-[1] location">2F 18Acacia Bldg. Acacia cor Calachuchi St. Juna Subd Matina Davao City</p>
            </a>
        </div>
    </section>
</div>
